<div class="row mt-5">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Country</th>
                    <th scope="col">Total Cases</th>
                    <th scope="col">Total Recovered</th>
                    <th scope="col">Total Death</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let country of countries let i =index" >
                    <td scope="row">{{i+1}}</td>
                    <td>{{ country?.country }}</td>
                    <td>{{ country?.confirmedCases | number }}</td>
                    <td>{{ country?.recoveries | number }}</td>
                    <td>{{ country?.death | number }}</td>
                </tr>        
            </tbody>
        </table>
    </div>
</div>